body, html{
    padding: 0;
    margin: 0;
}
main{
    padding-top: 60px;
}
/* logo*/
.logo{
    color: indigo;
}
#logoSpace > a {
    text-decoration: none;
}
footer>a {
    text-decoration: none;
}
.logo >span{
    letter-spacing: 3px;
    font-size: 20px;
}
.fab{
    font-size: 30px;
    
}
.logoInit{
    color: aqua;
}
.credit{
    color: orange;
}
/* userPage dashboard begins*/
#userMain{
    padding: 0;
    margin: 0;
    padding-top: 0px;
    min-height: 600px;    
}
#aside a {
    min-width: 200px;
}
#aside{
    background-color: #ECEEE8;
    position: fixed;
    width: 0px;
    overflow: hidden;
    transition: 0.2s ease;
    height: 100%;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.59);
}
#userMainContainer{
    box-sizing: border-box;
    padding-left: 0px;
    z-index: 500;
    background-color: rgb(231, 224, 231);
}
#navWide{
    cursor: pointer;
}

#userHead{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    /*position: fixed;
    top: 0;
    z-index: 700; */
    width: 100%;
    height: 60px;
    background-color: indigo;
    color: #ECEEE8;
}
#userDashbord{ 
    min-height: 600px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}
#logoSpace{
    width: 80%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}
#titleOfPage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 300px;
    height: 100%;
}
#navHead {
    cursor: pointer;
    box-sizing: border-box;
    flex-basis: 5%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}
#firstHead>a{
    height: 50%;
}
.headbtns {
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    color: rgb(155, 151, 151);
    height: 100%;
    transition: 0.3s ease;
}
.headbtns:hover {
    color: #ECEEE8;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
#firstHead{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 70%;
}
#secondHead{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 10%;
}
#userImage{
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#repaymentTable{
    width: 90%;
    margin: auto;
    min-height: 200px;
    
}
#repaymentHead{
    box-sizing: border-box;
    padding: 10px;
    color: white;
    width: 90%;
    text-align: center;
    height: 60px;
    position: relative;
    top: 30px;
    margin: auto;
    border-radius: 3px;
    background-color: indigo; 
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
#repaymentBody{
    width: 100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    min-height: 200px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.repayment{
    width: 100%;
    border: 2px solid grey;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.repaymentTableHead{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.repaymentTableHead:hover{
    background-color: rgb(231, 230, 230);
}

.tableHeads1{
    color: orange;
}
.moreInfo{
    width: 100%;
    max-height: 0px;
    border: 1px solid white;
    border-top: transparent;
    background-color: #ECEEE8;
    /*transition: max-height 2s ease-in-out;*/
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.5) inset;
}
.moreInfo>p{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.repayHeads1{
    color: #d44638;
}
#loanInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    padding: 6px;
    box-sizing: border-box;
}
#loanInfo1{
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
}
#loanInfo2{
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;

}
.loanInfo{
    min-width: 150px;
    min-height: 50px;
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ECEEE8;
    border-radius: 5px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}
#aside>a{
    text-decoration: none;
}
.loanInfo>p{
    text-align: center;
}
#totalLoans{
    background-color: rgb(110, 175, 240);
}
#approvedLoans{
    background-color: rgb(96, 173, 96);
}
#pendingLoans{
    background-color: rgb(196, 155, 81);
}
#rejectedLoans{
    background-color: rgb(241, 105, 105);
}
.aside{
    box-sizing: border-box;
    padding:10px;
}
.aside>p{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding: 15px;
    color: rgb(110, 109, 109);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.aside>p:hover{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.1);
}
#dashboard{
    background-color: indigo;
    color: #ECEEE8;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}
#navUser{
    display: none;
}
#userAsideBackground{
    position: fixed;
    display: none;
    z-index: 600;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#userAsideContent{
    position: relative;
    right: -500px;
    top: 0;
    background-color: #ECEEE8;
    width: 40%;
    transition: 1s ease;
    overflow-y: scroll;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}
@media(max-width: 1050px){
    #repaymentTable{
        width: 100%;
    }
}
@media(max-width: 1000px){
    #firstHead{
        flex-basis: 90%;
    }
    #secondHead{
        padding-right: 20px;
        flex-basis: 10%;
    }
    #navHead {
        display: none;
    }
    #navUser{
        display: block;
        font-size: 23px;
        cursor: pointer;
    }
    #userHead{
        position: fixed;
        top: 0;
        z-index: 700;
        width: 100%;
    }
    #loanInfo{
        width: 100%;
    }
    #userDashbord{
        padding: 20px;
    }
    #aside{
        width: 0;
        left: -700px;
    }
    #userMainContainer{
        padding-left: 0px;
    }
    #userImage{
        display: none;
    }
}
@media(max-width: 676px){
    .headbtns {
        display: none;
    }
    #userAsideContent{
        width: 60%;
    }
    .repaymentTableHead{
        flex-direction: column;
        text-align: left;
    }
    .tableHeads{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: auto;  
    }
    .tableHeads2{
        margin: 6px;
        flex-basis: 50%;    
    }
    .tableHeads1{
        margin: 6px;
        flex-basis: 50%;
         
    }
    .repayHeads{
        display: flex;
        width: 80%;
        margin: auto;
    }
    .repayHeads1{
        margin: 6px;
        flex-basis: 50%;
    }
    .repayHeads2{
        margin: 6px;
        flex-basis: 50%;  
    }
}
@media(max-width:431px){
    #userAsideContent{
        width: 80%;
    }    
}

@media(max-width:773px){
    .loanInfo{
        text-align: center;
        width: 150px;
    }
     #loanInfo{
         flex-direction: column;
     }
     #loanInfo1{
         margin-bottom: 10px;
     }
}
@media(max-width:390px){
    .loanInfo{
        word-wrap: break-word;
        min-width: 90px;
        width: 90px;
        min-height: 80px;
        margin: 10px;
    }
}
@media(max-width:425px){
    .loanInfo{
        min-width: 140px;
        width: 90px;
    }
    #firstHead{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-basis: 80%;
    }
    #secondHead{
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 20%;
    }
    #titleOfPage{
        width: 250px;
        height: 100%;
    }
    #logoSpace{
        padding-left: 10px;
        width: 90%;
    }
    
    
}
@media(max-width:479px){
    .tableHeads2{
        display: flex;align-items: center;
    }
    .tableHeads1{
        display: flex;align-items: center;
    }
    .repayHeads2{
        display: flex;align-items: center;
    }
    .repayHeads1{
        display: flex;align-items: center;
    }
    #repaymentTable{
        width: 100%;
        margin: auto;
        min-height: 200px;    
    }
    .repayHeads{
        width: 100%;
    }
    .tableHeads{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        
    }
}
@media(max-width: 676px){
    .loanDetails{
        flex-direction: column;
        text-align: left;
    }
}
@media(max-width:390px){
    .loanInfo{
        min-width: 120px;
        width: 90px;
        min-height: 80px;
        
    }
}
footer{
    z-index: 800;
    box-sizing: border-box;
    padding: 30px;
    background-color: black;
    color: #F9F8F9;

}
#footerLogo{
    width: 100%;
    margin-bottom: 20px;
    color: white;
    text-align: center;

}
#footerElements{
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
   
}
.footer>h3{
    text-align: center;
}
.footerpelem{
    display: flex;
    margin: auto;
    justify-content: center;
    cursor: pointer;
}
.fa-facebook-f,.fa-google-plus-g,.fa-linkedin-in,.fa-twitter{
    font-size: 20px;
}
.fa-twitter{
    color: #00acee;
}
.fa-facebook-f{
    color: rgb(25, 89, 207);
}
.fa-linkedin-in{
    color: #F9F8F9;
}
.fa-google-plus-g{
    color: #d44638;
}
@media (max-width:700px){
    footer{
        flex-direction: column;
        text-align: center;
    }
    #footerElements{
        flex-direction: column;
       
    }
}
#userAsideContent>a{
    text-decoration: none;
}
@media(max-width:1000px){
    #userLoanApply{
        margin-top: 87px;
    }
    #userDashbord{
        margin-top: 60px;
    }
}
/* admin dashboard*/
.active{
    background-color: rgb(231, 230, 230);
}
.acceptRejectBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.accept{
    background-color: rgb(96, 173, 96);
    width: 100px;
    padding: 5px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #ECEEE8;
    transition: 0.5s ease;
}
.accept:hover{
    cursor: pointer;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.reject{
    background-color: rgb(241, 105, 105);
    width: 100px;
    padding: 5px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #ECEEE8;
    transition: 0.5s ease;
}
.reject:hover{
    cursor: pointer;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.loanDetailsBtns{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.loanDetails{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.moreInfoLoan{
    width: 100%;
    border: 1px solid white;
    max-height: 0px;
    border-top: transparent;
    background-color: #ECEEE8;
    /*transition: max-height 2s ease-in-out;*/
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.5) inset;
}
.moreInfoLoan>p{
    padding-left: 10px;
    margin-bottom: 0px;
}
.viewLoanDetails{
    width: 150px;
    background-color: #d44638;
    border-radius: 3px;
    color: #ECEEE8;
    display: block;
    margin: auto;
    outline: 0;
    border: 0;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 5px;
    margin-bottom: 10px;
}
.viewLoanDetails:hover{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}
.loanInfo a{
    text-decoration: none;
    color: rgb(66, 65, 65);
}
#profilePicture100{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    border: 2px solid white;
    margin-bottom: 10px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
#userpicture1 >hr{
width: 80%;
}
