body, html{
    padding: 0;
    margin: 0;
}
main{
    padding-top: 60px;
}
/* logo*/
.logo{
    color: indigo;
}
.logo >span{
    letter-spacing: 3px;
    font-size: 20px;
}
.fab{
    font-size: 30px;
    
}
.logoInit{
    color: aqua;
}
.credit{
    color: orange;
}
#aside a {
    min-width: 200px;
}
footer{
    z-index: 800;
    box-sizing: border-box;
    padding: 30px;
    background-color: black;
    color: #F9F8F9;

}
#logoSpace > a {
    text-decoration: none;
}
footer>a {
    text-decoration: none;
}
#footerLogo{
    width: 100%;
    margin-bottom: 20px;
    color: white;
    text-align: center;

}
#footerElements{
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
   
}
.footer>h3{
    text-align: center;
}
.footerpelem{
    display: flex;
    margin: auto;
    justify-content: center;
    cursor: pointer;
}
.fa-facebook-f,.fa-google-plus-g,.fa-linkedin-in,.fa-twitter{
    font-size: 20px;
}
.fa-twitter{
    color: #00acee;
}
.fa-facebook-f{
    color: rgb(25, 89, 207);
}
.fa-linkedin-in{
    color: #F9F8F9;
}
.fa-google-plus-g{
    color: #d44638;
}
#userAsideContent a{
    text-decoration: none;
}
@media (max-width:700px){
    footer{
        flex-direction: column;
        text-align: center;
    }
    #footerElements{
        flex-direction: column;
       
    }
}
@media(max-width:1000px){
    #userDashbord{
        margin-top: 60px;
    }
}
#userMain{
    padding: 0;
    margin: 0;
    padding-top: 0px;
    min-height: 600px;    
}
#aside{
    background-color: #ECEEE8;
    position: fixed;
    width: 0px;
    overflow: hidden;
    transition: 0.2s ease;
    height: 100%;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.59);
}
#userMainContainer{
    box-sizing: border-box;
    padding-left: 0px;
    z-index: 500;
    background-color: rgb(231, 224, 231);
}
#navWide{
    cursor: pointer;
}
#navHead {
    cursor: pointer;
    flex-basis: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#userHead{
    box-sizing: border-box;
    display: flex;
    /*position: fixed;
    top: 0;
    z-index: 700; */
    width: 100%;
    justify-content: space-around;
    height: 60px;
    background-color: indigo;
    color: #ECEEE8;
}
#userDashbord{ 
    min-height: 600px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}
#adminContent{ 
    text-align: center;
    min-height: 600px;
    padding: 50px;
    box-sizing: border-box;
}

#logoSpace{
    width: 80%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}
#titleOfPage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 300px;
    height: 100%;
}
#navHead {
    box-sizing: border-box;
    flex-basis: 5%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}
#firstHead>a{
    height: 50%;
}
.headbtns {
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    color: rgb(155, 151, 151);
    height: 100%;
    transition: 0.3s ease;
}
.headbtns:hover {
    color: #ECEEE8;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
#firstHead{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 75%;
}
#secondHead{
    padding-right: 30px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 10%;
}
#userImage{
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#repaymentTable{
    width: 90%;
    margin: auto;
    min-height: 200px;
    
}
#repaymentHead{
    box-sizing: border-box;
    padding: 10px;
    color: white;
    width: 90%;
    height: 60px;
    position: relative;
    top: 30px;
    margin: auto;
    border-radius: 3px;
    background-color: indigo; 
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.repayment{
    width: 100%;
    border: 2px solid grey;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.repaymentTableHead{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.tableHeads1{
    color: orange;
}
.moreInfo{
    width: 100%;
    max-height: 0px;
    border: 1px solid white;
    border-top: transparent;
    background-color: #ECEEE8;
    /*transition: max-height 2s ease-in-out;*/
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.5) inset;
}
.moreInfo>p{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.moreInfo>p{
    font-weight: bold;
    color: rgb(70, 70, 70);
}
.repaywidehead {
    display: flex;
    justify-content: space-around;
}
.repayHeads3{
    color: #d44638;
}
.repayHeads1 {
    display: none;
}
.repayDetails{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.repayHeads1{
    color: #d44638;
}
.viewRepayment{
    width: 150px;
    background-color: #d44638;
    border-radius: 3px;
    color: #ECEEE8;
    display: block;
    margin: auto;
    outline: 0;
    border: 0;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 5px;
    margin-bottom: 10px;
}
.viewRepayment:hover{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}
#loanInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    padding: 6px;
    box-sizing: border-box;
}
#loanInfo1{
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
}
#loanInfo2{
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;

}
.loanInfo{
    width: 150px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ECEEE8;
    border-radius: 5px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}
#aside>a{
    text-decoration: none;
}
.loanInfo>p{
    text-align: center;
}
.aside{
    box-sizing: border-box;
    padding:10px;
}
.aside>p{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding: 15px;
    color: rgb(110, 109, 109);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.aside>p:hover{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.1);
}
#dashboard{
    background-color: indigo;
    color: #ECEEE8;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

#navUser{
    display: none;
}
#userAsideBackground{
    position: fixed;
    display: none;
    z-index: 600;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#userAsideContent{
    position: relative;
    right: -500px;
    top: 0;
    background-color: #ECEEE8;
    width: 40%;
    transition: 1s ease;
    overflow-y: scroll;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}
@media(max-width: 1050px){
    #repaymentTable{
        width: 100%;
    }
}
@media(max-width: 1000px){
    #firstHead{
        flex-basis: 90%;
    }
    #secondHead{
        padding-right: 20px;
        flex-basis: 10%;
    }
    #navHead {
        display: none;
    }
    #navUser{
        display: block;
        font-size: 23px;
        cursor: pointer;
    }
    #userHead{
        position: fixed;
        top: 0;
        z-index: 700;
        width: 100%;
    }
    #loanInfo{
        width: 100%;
    }
    #userDashbord{
        padding: 20px;
    }
    #adminContent{
        padding: 0px;
    }
    #aside{
        width: 0px;
        left: -700px;
    }
    #userMainContainer{
        padding-left: 0px;
    }
    #userImage{
        display: none;
    }
}
@media(max-width: 676px){
    .repayHeads1{
        display: block;
    }
    .repayHeads3{
        display: none;
    }
    .repayDetails{
        margin-bottom: 20px;
    }
    .repayDetails:nth-child(even){
        background-color: rgb(175, 171, 171);
    }
    .headbtns {
        display: none;
    }
    #userAsideContent{
        width: 60%;
    }
    #loanInfo{
        flex-direction: column;
    }
    #loanInfo1{
        margin-bottom: 10px;
    }
    .repaymentTableHead{
        flex-direction: column;
        text-align: left;
    }
    .tableHeads{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        
    }
    .tableHeads2{
        margin: 6px;
        flex-basis: 50%;
         
    }
    .tableHeads1{
        margin: 6px;
        flex-basis: 50%;
         
    }
    .repayDetails{
        flex-direction: column;
    }
    .repayHeads{
        display: flex;
        width: 80%;
        margin: auto;
    }
    .repayHeads1{
        margin: 6px;
        flex-basis: 50%;
    }
    .repayHeads2{
        margin: 6px;
        flex-basis: 50%;
       
    }
    .repayDetails{
        
        text-align: left;
    }
}
@media(max-width:431px){
    #userAsideContent{
        width: 80%;
    }
    
    
}
@media(max-width:425px){
    #firstHead{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-basis: 80%;
    }
    #secondHead{
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 20%;
    }
    #titleOfPage{
        width: 250px;
        height: 100%;
    }
    #logoSpace{
        padding-left: 10px;
        width: 90%;
    }
    
    
}
@media(max-width:479px){
    .tableHeads2{
        display: flex;align-items: center;
    }
    .tableHeads1{
        display: flex;align-items: center;
    }
    .repayHeads2{
        display: flex;align-items: center;
    }
    .repayHeads1{
        display: flex;align-items: center;
    }
    #repaymentTable{
        width: 100%;
        margin: auto;
        min-height: 200px;    
    }
    .repayHeads{
        width: 100%;
    }
    .tableHeads{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        
    }
}
@media(max-width:390px){
    .loanInfo{
        width: 120px;
        min-height: 80px;
        
    }
}
#updateUserDetails{
    box-sizing: border-box;
    min-height: 300px;
    padding: 20px;
}
#userUploadInfo{
    min-height: 200px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
#updateContent{
    box-sizing: border-box;
    width: 95%;
    margin: auto;
}
.update{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}
.updateBtn{
    border-radius: 5px;
    background-color: orange;
    outline: 0;
    border: 0;
    width: 100px;
    cursor: pointer;
    color: #ECEEE8;
    box-sizing: border-box;
    transition: 0.5s ease;
}
.updateBtn:hover{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.updateForm>input{
    display: block;
    flex-basis: 68%;
    height: 35px;
    outline: 0;
    border: 0;
    border: 2px solid grey;
    padding-left: 5px;
    border-radius: 3px;
    font-size: 18px;
    box-sizing: border-box;
    transition: 1s ease;
    background-color: transparent;
}
.updateForm>input~button{
    flex-basis: 30%;
}
.updateForm>input+label{
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 1s ease;
}
.updateForm>input:focus{
    border-color: indigo;
}
.updateForm>input:focus+label{
    top: -9px;
    background-color: rgb(231, 224, 231);
}
.updateForm>input:valid+label{
    top: -9px;
    color: indigo;
    background-color: rgb(231, 224, 231);
}
.updateForm{
    position: relative;
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
}
#profilePicture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    border: 2px solid white;
    margin-bottom: 10px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
#updateDetails1{
    width: 100%;   
}
#updatePix{
    display: block;
    width: 150px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    z-index: 30;
    cursor: pointer;
    opacity: 0;
    
}
#profileUploadDiv{
    position: relative;
    width: 150px;
    height: 60px;
    
    margin: auto;
}
#updatePixBtn{
    height: 30px;
    width: 150px;
    color: white;
    border-radius: 5px;
    outline: 0;
    border: 0;
    margin: auto;
    position: absolute;
    background-color: orange;
    display: block;
    z-index: 20;
}
#profileInfo{
    width: 60%;
    min-height: 100px;
    margin: auto;
   
}
#profileInfo>div{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}
.userInfoTitle{
    box-sizing: border-box;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}
#updateUserDetails{
    border-bottom: 2px solid grey;
}
.userInfo{
    padding-left: 5px;
    color: #C0465D;
    display: block;
    box-sizing: border-box;
   flex-basis: 50%;
   min-height: 20px;
    max-width: 250px;
    word-wrap: break-word;
}
#updateHead{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
@media(max-width:767px){
    .update{
        flex-direction: column;
    }
    .updateForm{
        margin-bottom: 20px;
    }
}
@media(max-width:390px){
    
    .updateForm{
        margin-bottom: 20px;
        flex-direction: column;
        min-height: 60px;
    }
    .updateBtn{
        height: 30px;
        margin: auto;
        margin-top: 5px;

    }
}
@media(max-width: 631px){
    #profileInfo{
        width: 100%;
    }
}
@media(max-width:454px){
    #profileInfo>div{
        flex-direction: column;

    }
    .userInfoTitle{
        justify-content: center;
    }
    .userInfo{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    #updateUserDetails{
        padding-bottom: 0;
    }
}
/* admin dashboard*/
.acceptRejectBtn{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.accept{
    background-color: rgb(96, 173, 96);
    width: 100px;
    padding: 5px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #ECEEE8;
    transition: 0.5s ease;
}
.accept:hover{
    cursor: pointer;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.reject{
    background-color: rgb(241, 105, 105);
    width: 100px;
    padding: 5px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #ECEEE8;
    transition: 0.5s ease;
}
.reject:hover{
    cursor: pointer;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.loanDetailsBtns{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.loanDetails{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.moreInfoLoan{
    width: 100%;
    border: 1px solid white;
    max-height: 0px;
    border-top: transparent;
    background-color: #ECEEE8;
    /*transition: max-height 2s ease-in-out;*/
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.5) inset;
}
.moreInfoLoan>p{
    padding-left: 10px;
    margin-bottom: 0px;
}
.viewLoanDetails{
    width: 150px;
    background-color: #d44638;
    border-radius: 3px;
    color: #ECEEE8;
    display: block;
    margin: auto;
    outline: 0;
    border: 0;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 5px;
    margin-bottom: 10px;
}
.viewLoanDetails:hover{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}
.loanInfo a{
    text-decoration: none;
    color: rgb(66, 65, 65);
}
#profilePicture100{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    border: 2px solid white;
    margin-bottom: 10px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
#userpicture1 >hr{
width: 80%;
}
.user{
    display: inline-block;
    width: 300px;
    max-height: 1500px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
    transition: max-height 0.5s ease 0.2s, box-shadow 0.5s ease 0.2s;
}
.userDetails{
    width: 100%;
}
.userDets{
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.userDets1{
    color: #C0465D;
    text-align: left;
    flex-basis: 30%;
}
.userDets2{
    width: 180px;
    text-align: left;
    justify-content: left;
    word-wrap: break-word;
}
.userDets p{
    margin: 5px;
}

@media(max-width: 676px){
    .loanDetails{
        flex-direction: column;
        text-align: left;
    }
}
.unpaidLoans{
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
}
.postRepayment{  
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.5) inset;
    background-color: #ECEEE8;
    max-height: 0px;
    overflow: hidden;
    margin: auto;
    transition: 0.8s ease-out;
}
.postRepayment>p{  
    text-align: center;
    padding-top: 10px;
}
.postRepayment1{
    height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postRepaymentForm{
    position: relative;
    margin: auto;
    min-width: 200px;
}
.adminRepayment{
    color: #ECEEE8;
    background-color: #d44638;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    transition: 0.88s ease;
}



@media(max-width:418px){
    .adminRepayment{
        width: 90px;
    }
    .paid{
        width: 90px
    }
}
/* paid loans */
.paidLoand{
background-color: green;
width: 150px;
color: white;
padding: 5px;
box-sizing: border-box;
border-radius: 2px;
margin: auto;
margin-top: 20px;
margin-bottom: 10px;
box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
}